@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contentmax_width{
  @apply lg:max-w-6xl mx-auto w-full
}
.each_section {
  @apply w-full xl:h-fit lg:h-fit h-screen flex
}
.top_title {
  @apply text-center font-medium text-4xl text-white
}
.slick-center div {
  padding: 0;
}